html{
    scroll-behavior: smooth;
}
p, b, li{
    font-size: 120%;
}
h1{text-align: center;}
body{
    background-color: #110810;
    font-family: 'Kanit', sans-serif;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='20' viewBox='0 0 20 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 6H6v4H4V6H2V4h2V0h2v4h10V0h2v4h2v2h-2v4h-2V6z' fill='%23383739' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
#about{
    background:linear-gradient(#e3292f, #aa1d1d);
    border-radius: 20px;
    align-content: justify;
    margin:15px;
    padding: 14px;
    border-style: ridge;
    border-color: #ff1040;
    border-spacing: 2px;
}
#changelog{
    background:linear-gradient(#c91015, #ff0037);
    border-radius: 20px;
    margin:15px;
    padding: 14px;
    border-style: ridge;
    border-color: #fc072c;
    border-spacing: 2px;
}
#comingsoon{
    background:linear-gradient(#b91015, #cf1f1f);
    border-radius: 20px;
    align-content: justify;
    margin:15px;
    padding: 14px;
    border-style: ridge;
    border-color: #fc072c;
    border-spacing: 2px;
}
#playButton{
    background-color: rgb(40, 134, 40);
    border-color: rgb(40,134,40);
    border-radius: 10%;
    font-family: 'Kanit', sans-serif;
    width: 200px;
    height: 80px;
    margin: 2px auto;
    font-size: 180%;
    color: white;
    border-style: ridge;
}
#playButton:hover{
    background-color: rgb(38, 180, 38);
    transform: scale(105%);
    transition-duration: 400ms;
}
#Logo{
    width: 320px;
    height: 180px;
    border-radius: 4%;
    margin: 5%;
    animation-name: logoMove;
    animation-duration: 1220ms;
}
.logo{
    background-image: url("https://pbs.twimg.com/media/FkTIh9LXgAEEORx?format=jpg&name=medium");
    background-size: 18cm 10cm;
}
nav{
    border: ridge #ff1040;
    display: flex;
    justify-content: space-around;
    font-family: 'Kanit', sans-serif;
    font-style: bold;
    background-color: rgb(50, 50, 50);
}

h2{color:firebrick; opacity: 0.8}
h2:hover{color:#ff1040; transform:rotatey(360deg) scale(122%); opacity: 1; transition-duration: 1100ms;}

#devLogo{
    max-width: 50px;
    max-height: 50px;
    float: right;
}
#changes{
    background: linear-gradient(#FF0521, #dd151a);
    scrollbar-track-color: #b91015;
    scrollbar-width: 5px;
    scrollbar-color: #222222;
    padding: 5px auto;
}

/* animations */
@keyframes logoMove{
    0%{visibility: hidden; transform:translateX(-140%);}
    100%{visibility: visible; transform:translateX(0%)}
}